/* 플렉스 위주로 레이아웃 배치하기 */
/* ============================ */
/* 왼쪽 섹션 */
.left_section {
    display: flex;
    flex-flow: nowrap column;
    justify-content: space-between;
    position: relative;
    width: 250px;
    height: 100%;
    padding: 20px;
}

.left_section h1 {
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 130px;
}

.left_section h1 a {
    height: 60px;
    background: url(../images/logo.png) no-repeat center;
}

.top_btn {
    display: flex;
    font-size: 0;
    padding: 0 0 20px;
}

.top_btn button {
    display: block;
    width: 50%;
    line-height: 50px;
    font-size: 14px;
    text-align: center;
}

.top_btn .writeMail {
    background: #6941d9;
    color: #fff;
    border-radius: 20px 0 0 20px;
}

.top_btn .toMe {
    border-radius: 0 20px 20px 0;
    background-color: #fff;
    border: 1px solid #ddd;
}

.gnb_menu li {
    padding: 0 20px 0 55px;
    line-height: 50px;
    border-radius: 20px;
    cursor: pointer;
}

.gnb_menu li:nth-child(1) {
    background: url(../images/ico_mailList01_black.png) no-repeat left 20px center;
}

.gnb_menu li:nth-child(2) {
    background: url(../images/ico_mailList02_black.png) no-repeat left 20px center;
}

.gnb_menu li:nth-child(3) {
    background: url(../images/ico_mailList03_black.png) no-repeat left 20px center;
}

.gnb_menu li:nth-child(4) {
    background: url(../images/ico_mailList04_black.png) no-repeat left 20px center;
}

.gnb_menu li:nth-child(5) {
    background: url(../images/ico_mailList05_black.png) no-repeat left 20px center;
}

.gnb_menu #allMailBox.active {
    background: url(../images/ico_mailList01_whtie.png) no-repeat left 20px center #6941d9;
}

.gnb_menu #inMailBox.active {
    background: url(../images/ico_mailList02_whtie.png) no-repeat left 20px center #6941d9;
}

.gnb_menu #sendMailBox.active {
    background: url(../images/ico_mailList03_whtie.png) no-repeat left 20px center #6941d9;
}

.gnb_menu #tempoaryMailBox.active {
    background: url(../images/ico_mailList04_whtie.png) no-repeat left 20px center #6941d9;
}

.gnb_menu #toMeMailBox.active {
    background: url(../images/ico_mailList05_whtie.png) no-repeat left 20px center #6941d9;
}

.gnb_menu li.normal:hover {
    background-color: #f3f3f3;
}

.gnb_menu li.active {
    color: #fff;
}

.right_bottom {
    display: flex;
    justify-content: center;
}

.bottom_btn button {
    background-color: transparent;
}

.bottom_btn button a {
    display: block;
    line-height: 50px;
    padding: 0 0 0 35px;
    font-size: 12px;
    color: #ddd;
    background: url(../images/ico_logout.png) no-repeat left;
}

.bottom_btn button a:hover {
    color: #6941d9;
    background-image: url(../images/ico_logout_hover.png);
}

/* ============================================================== */
/* 오른쪽 섹션 */

.right_section {
    display: flex;
    flex-flow: nowrap column;
    justify-content: space-between;
    width: calc(100% - 250px);
    height: 100%;
    background: #f5f9fc;
    border-left: 1px solid #f3f4f6;
}

/* 검색박스 */
.search_box {
    position: relative;
    height: 60px;
    padding: 10px;
    background: #fff;
}

.search_box input {
    width: 300px;
    height: 40px;
    text-indent: 40px;
    border: none;
    border-radius: 40px;
}

.search_box input::placeholder {
    font-family: "Pretendard-Regular";
    color: #ddd;
}

.search_box input:focus {
    outline: none;
    background: #f3f3f3;
    color: #333;
}
.search_box input:focus::placeholder {
    color: #333;
}

.search_box button {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    background: url(../images/ico_search_placeholder.png) no-repeat center;
}

.search_box input:focus + button {
    background-image: url(../images/ico_search_focus.png);
}

/* 콘텐츠영역 */
.content {
    height: calc(100% - 120px);
    padding: 0 20px;
}

/* 콘텐츠 타이틀 */
.content .content_tit {
    height: 70px;
    line-height: 70px;
    font-size: 28px;
    font-weight: 600;
}

.content .content_tit span {
    padding: 0 0 0 10px;
    font-size: 14px;
    font-weight: 400;
}

.content .content_tit span .color {
    color: #6941d9;
    font-weight: 700;
}

/* ============================== */
/* 오른쪽 하단 */

.right_btm {
    position: relative;
    height: 60px;
    line-height: 60px;
    background: #fff;

}

.right_btm ol {
    display: flex;
    justify-content: center;
}

.right_btm ol li ~ li {
    padding-left: 10px;
}

.right_btm ol li button {
    width: 24px;
    height: 24px;
    border-radius: 5px;
    font-size: 12px;
    color: #8d8d8d;
    background: none;
}

.right_btm ol li button.active {
    color: #9675fe;
    border: 1px solid #9675fe;
}

.right_btm ol li .normal:hover {
    border-radius: 24px;
    background-color: #f3f3f3;
    color: #333;
}

/* 태블릿 css */
@media all and (max-width: 1024px) {
    .left_section {
        width: 200px;
        padding: 20px;
    }

    .right_section {
        width: calc(100% - 200px);
    }
}
