/* ============ 메일함 스타일 ============ */
.content .content_tit {
    height: 70px;
    line-height: 70px;
    font-size: 28px;
    font-weight: 600;
}

.content .content_tit span {
    padding: 0 0 0 10px;
    font-size: 14px;
    font-weight: 400;
}

.content .content_tit span .color {
    color: #6941D9;
    font-weight: 700;
}

/* 메일 리스트 영역 */
.content .mail_list {
    position: relative;
    /* content높이에서 tit영역 뺀 나머지 */
    height: calc(100% - 70px);
    overflow-y: scroll;
}

.content .mail_list::-webkit-scrollbar{
    margin: 0 0 0 20px;
    right: 20px;
    width: 10px;
    background-color: #DEDEDE;
   /*  box-shadow: 0 5px 5px rgba(0, 0,0,0.25) inset; */
    
}
.content .mail_list::-webkit-scrollbar-thumb{
    background-color: #9675FE;
    border: 2px solid #9675FE; /* 스크롤바 막대 테두리 설정  */
    border-radius: 12px 12px 12px 12px;

}

.content .mail_list li {
    display: flex;
    line-height: 45px;
}

.content .mail_list li:hover {
    background-color: #EBF1F5;
}

.content .mail_list > div {
    width: calc(100% - 10px);
}

.content .mail_list li a {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.content .mail_list li .writer {
    padding: 0 20px 0 0;
    box-sizing: content-box;
}

/* 메일 날짜 */
.content .mail_list li .mail_date{
    padding: 0 20px;
    box-sizing: content-box;
}


/* 메일 아이콘 */
.mail_list .mail_icon_box {
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.mail_list .mail_icon_box div {
    width: 24px;
    height: 24px;
}

.mail_list .mail_icon_box div ~ div {
    margin-left: 10px;
}

input[type="checkbox"] {
    position: absolute;
    left: -50000px;
}

input[type="checkbox"] + label {
    display: block;
    width: 24px;
    height: 24px;
    background: no-repeat center;
}

#mail_ico1 + label {
    background-image: url(../images/ico_checkbox_normal.png);
}

#mail_ico2 + label {
    background-image: url(../images/ico_favorite_normal.png);
}

#mail_ico3 { 
    background: url(../images/ico_mail_normal.png) no-repeat center;
}

#mail_ico4 {
    background: url(../images/ico_file.png) no-repeat center;
}

/*====================================*/

/* ============ 메일쓰기 ============ */
.write_wrap {
    height:  calc(100% - 90px);
    padding: 20px;
    background: #fff;
}
.input_box {
    display: flex;
    flex-flow: column;
    padding: 0 0 20px;
}

.write_input {
    display: flex;
    line-height: 40px;
}

.write_input p {
    width: 100px;
}

.write_input input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ddd;

}

.write_input input:focus {
    outline: none;
    border-bottom: 1px solid #6941D9;
}

.write_wrap textarea {
    width: 100%;
    height: calc(100% - 100px);
    line-height: 22px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.write_wrap textarea:focus {
    outline: none;
    border: 1px solid #6941D9;
}

.send_btm {
    text-align: right;
}

.send_btn {
    width: 100px;
    height: 40px;
    margin-right: 40px;
    border-radius: 40px;
    background: #6941D9;
    color: #fff;
}