/* ============ 메일함 스타일 ============ */
.content .content_tit_pc {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    position: relative;
    height: 70px;
}
.content_tit_pc .content_tit {
    line-height: 70px;
    font-size: 28px;
    font-weight: 600;
}

.content_tit_pc .mail_conunt {
    padding: 0 0 0 10px;
    font-size: 14px;
    font-weight: 400;
}

.content_tit_pc .mail_conunt .color {
    color: #6941d9;
    font-weight: 700;
}

.content_tit_pc #delete_btn {
    position: absolute;
    right: 0;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: url(../images/ico_delete_active.png) no-repeat center #fff;
}

/* 메일 리스트 영역 */
.content .mailList_wrap {
    position: relative;
    /* content높이에서 tit영역 뺀 나머지 */
    height: calc(100% - 70px);
    overflow-y: scroll;
}

.content .mailList_wrap::-webkit-scrollbar {
    margin: 0 0 0 20px;
    right: 20px;
    width: 10px;
    background-color: #dedede;
}
.content .mailList_wrap::-webkit-scrollbar-thumb {
    background-color: #9675fe;
    border: 2px solid #9675fe; /* 스크롤바 막대 테두리 설정*/
    border-radius: 12px 12px 12px 12px;
}

.content .mail_list li {
    display: flex;
    line-height: 45px;

}

.content .mail_list li a ,
.content .mail_list li a div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.content .mail_list li:hover {
    background-color: #ebf1f5;
}

.content .mail_list > div {
    width: calc(100% - 10px);
}

.content .mail_list li a {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.content .mail_list li .writer {
    padding: 0 20px 0 0;
    box-sizing: content-box;
}

/* 메일 날짜 */
.content .mail_list li .mail_date {
    padding: 0 20px;
    box-sizing: content-box;
}

/* 메일 아이콘 */
.mail_list .mail_icon_box {
    display: flex;
    align-items: center;
    padding: 0 20px 0 0;
}

.mail_list .mail_icon_box div {
    width: 24px;
    height: 24px;
}

.mail_list .mail_icon_box div ~ div {
    margin-left: 10px;
}

input[type="checkbox"] {
    position: absolute;
    left: -50000px;
}

input[type="checkbox"] + label {
    display: block;
    width: 24px;
    height: 24px;
    background: no-repeat center;
}

/*====================================*/

/* ============ 메일쓰기 ============ */
.writeRead_wrap {
    /* height: calc(100% - 90px); */
    height: calc(100% - 20px);
    padding: 20px;
    border-radius: 20px;
    background: #fff;
}

.input_box {
    display: flex;
    flex-flow: column;
    padding: 0 0 20px;
}

.write_input {
    display: flex;
    line-height: 40px;
}

.write_input p {
    width: 100px;
}

.write_input input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ddd;
}

.write_input input:focus {
    outline: none;
    border-bottom: 1px solid #6941d9;
}

.writeRead_wrap textarea,
.receive_textarea {
    overflow-y: scroll;
    width: 100%;
    height: calc(100% - 100px);
    line-height: 22px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.writeRead_wrap textarea:focus {
    outline: none;
    border: 1px solid #6941d9;
}

.writeRead_wrap textarea::placeholder {
    font-family: "Pretendard-Regular";
    font-size: 12px;
    color: #d0d0d0
}

.send_btn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 100px;
    height: 40px;
    margin-right: 40px;
    border-radius: 40px;
    background: #6941d9;
    color: #fff;
}

.mailBtnBox {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.mailBtnBox button {
    height: 40px;
    padding: 0 20px;
    margin: 0 20px;
    border-radius: 40px;
    background-color: #f3f3f3;
    color: #333;
}

.mailBtnBox button:last-child {
    margin: 0 40px;
}

.mailBtnBox button:hover {
    background-color: #6941d9;
    color: #fff;
}

/* 메일을 성공적으로 보냄 */
.success_content {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: calc(100% - 60px);
    padding: 0;
    background: #fff;
}

.success_content p {
    padding: 20px 0;
}

.success_content button {
    height: 40px;
    background: transparent;
}

.success_content button a {
    display: block;
    width: 100px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    background: #6941d9;
    border-radius: 10px;
}

/* 태블릿 css */
@media all and (max-width: 1024px) {
    .content .mail_list li .writer {
        padding: 0 10px 0 0;
    }

    /* 메일 날짜 */
    .content .mail_list li .mail_date {
        padding: 0 10px;
        display: none;
    }

    /* 메일 아이콘 */
    .mail_list .mail_icon_box {
        padding: 0 10px 0 0;
    }

    .mail_list .mail_icon_box div ~ div {
        margin-left: 10px;
    }

    input[type="checkbox"] {
        position: absolute;
        left: -50000px;
    }

    input[type="checkbox"] + label {
        display: block;
        width: 24px;
        height: 24px;
        background: no-repeat center;
    }
}

